<div class="panel panel-default">
<strong>Home</strong>
</p>
<table class="table">
  <thead>
  <tr>
    <th> </th>
    <th> Template  </th>
    <th> Template Materials </th>

  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @template.final_product %></td>
       <td> <%= @template.materials %></td>

        </tr>
        </tbody>
        </table>
