<h1> All activities </h1>
<% @activities.each do |activity| %>
	<div class="activity">
	<%= link_to activity.try(:owner).try(:name).present? ? activity.try(:owner).try(:name) : 'user name is blank', activity.owner if activity.owner %>
	<%= render_activity activity %>
 <%# <%= render_activities(@activities, layout: :activity) %>
	</div>
	<% end %>
